<div class="w-full">
  <% content_for :title, "Category groups" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Category groups</h1>
    <%= link_to "New category group", new_category_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="category_groups" class="min-w-full">
    <% @category_groups.each do |category_group| %>
      <%= render category_group %>
    <% end %>
  </div>
</div>
