<div id="<%= dom_id category %>" class="grid grid-cols-2 tgrid-row">
  <div class="text-start pl-8">
    <%= category.name %>
  </div>
  <div class="flex space-x-2 justify-end text-end">
    <%= edit_button edit_category_path(category) %>
    <%= delete_button category %>
  </div>
</div>
