<div
  id="<%= dom_id category %>"
  class="grid grid-cols-3 border-b border-gray-300 pr-2 pl-2 pt-1 pb-1"
>
  <div></div>
  <div class="text-start">
    <%= category.name %>
  </div>
  <div class="flex space-x-2 justify-end text-end">
    <%= edit_button edit_category_path(category) %>
    <%= delete_button category %>
  </div>
</div>
