<div
  id="<%= dom_id category %>"
  class="
    grid grid-cols-2 bg-white text-gray-700 dark:bg-gray-700 dark:text-white
    rounded border border-b-gray-200 font-bold py-2 pr-2 pl-2
  "
>
  <div class="text-start pl-8">
    <%= category.name %>
  </div>
  <div class="flex space-x-2 justify-end text-end">
    <%= edit_button edit_category_path(category) %>
    <%= delete_button category %>
  </div>
</div>
