<% @transactions.each do |transaction| %>
  <%= render transaction %>
  <p>
    <%= link_to "Edit", edit_transaction_path(transaction), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Destroy", transaction, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </p>
<% end %>