<div id="<%= dom_id transaction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= transaction.entry_date.strftime("%F") %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= humanized_money_with_symbol(transaction.amount) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Memo:</strong>
    <%= transaction.memo %>
  </p>
</div>