<div class="w-full">
  <% content_for :title, "Transactions" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl dark:text-white">Transactions</h1>
    <%= link_to "New transaction", new_account_transaction_path(@account), class: "rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-700 text-white block font-medium" %>
    <%= link_to "Back to accounts", budget_accounts_path(@account.budget), class: "rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-700 text-white block font-medium" %>
  </div>

  <div id="accounts" class="min-w-full">
    <%= render "list" %>
  </div>
</div>
