<!DOCTYPE html>
<html lang="en">
<%= render partial: "layouts/head" %>
<body class="h-screen" data-controller="dark-mode">
    <%= render partial: "shared/notifications" %>
    <%= yield %>
</body>
</html>
