<div class="w-full">
  <% content_for :title, "Accounts" %>

  <div class="grid grid-cols-2 mb-4">
    <div class="text-left text-2xl font-bold pl-2 pt-2">Accounts</div>
    <div class="text-right pr-2 pt-2"><%= new_button new_account_path %></div>
  </div>

  <div id="accounts" class="mx-auto rounded-lg overflow-hidden border border-gray-400">
    <div class="grid grid-cols-3 bg-gray-400 text-black dark:bg-gray-900 dark:text-white font-bold text-center py-2">
      <div>
        <strong class="block font-medium mb-1">Name</strong>
      </div>
      <div>
        <strong class="block font-medium mb-1">Type</strong>
      </div>
      <div>
        <strong class="block font-medium mb-1">Action</strong>
      </div>
    </div>

    <% @accounts.each do |account| %>
      <%= render account %>
    <% end %>
  </div>
</div>
