<%= turbo_frame_tag "accounts_list" do %>
  <div class="text-2xl pl-1">Accounts</div>
  <% @accounts.each do |account| %>
    <div class="pl-4 pb-2">
      <%= link_to account.name, transactions_path(account_id: account.id), { data: { turbo_frame: 'main_container' } } %>
    </div>
  <% end %>
<% end %>
